@media (max-width: 1280px) {
  .navbar {
    padding: 22px 100px;
  }
  .navbar__logo-icon {
    width: 50px;
  }
  .navbar__logo-text {
    font-size: 18px;
  }
  .navbar__link-specialist {
    display: none;
  }
  .navbar__consultations {
    font-size: 18px;
  }
  .navbar__phone-number {
    font-size: 22px;
  }
  .navbar__phone-icon-circle {
    width: 56px;
    height: 56px;
    line-height: 56px;
  }
  .navbar__phone-icon {
    width: 26px;
    top: 14px;
    left: 15px;
  }
  .content {
    margin: 0 100px;
  }
  .search-container {
    margin: 120px 0;
  }
  .search-container__heading {
    font-size: 56px;
    font-weight: 500;
    margin-bottom: 30px;
  }
  .search-container__form {
    flex-wrap: wrap;
    gap: 20px;
  }
  .search-container__form-select, .search-container__filter-btn {
    height: 48px;
  }
  .search-container__form-select {
    background-position: right 20px center;
  }
  .search-container__submit-btn {
    padding: 9px auto;
    width: 100%;
    flex-grow: 1;
  }
  .search-container__filter-btn {
    padding: 12px 21px;
    flex-grow: 1;
    background: #EFEFEF;
    border: 1px solid var(--primary-color);
    flex-grow: 0;
  }
  .search-container__filter-icon {
    width: 26px;
    height: 26px;
    fill: var(--primary-color);
  }
  .people-list {
    margin: 120px 0 200px;
  }
  .people-list__card {
    gap: 30px;
    padding: 48px;
    padding-bottom: 60px;
  }
  .people-list__card__doctor-info h3 {
    font-size: 30px;
  }
  .people-list__card__doctor-info__desc {
    font-size: 22px;
    margin: 13px 0 20px;
    max-width: 465px;
  }
  .people-list__card__doctor-info__location {
    font-size: 20px;
  }
  .people-list__card__doctor-img img {
    width: 200px;
    height: 228px;
    object-fit: cover;
    border-radius: 16px;
  }
  .people-list__card__doctor-img__rating {
    margin-top: 10px;
    gap: 1px;
    height: 25px;
  }
  .people-list__card__star-icon {
    width: 26px;
    height: 22px;
  }
  .footer {
    margin-top: 200px;
    padding: 38px 100px;
  }
  .footer__contacts-container {
    gap: 50px;
  }
  .footer__contacts {
    gap: 0;
  }
  .footer__contacts p {
    margin: 0;
    font-size: 22px;
  }
  .footer__phone-number {
    font-size: 24px;
  }
  .footer__gmail {
    font-size: 22px;
  }
  .footer__policy {
    gap: 30px;
  }
  .footer__policy a {
    font-size: 20px;
  }
}
@media (max-width: 890px) {
  .navbar {
    padding: 22px 50px;
  }
  .navbar__consultations {
    font-size: 18px;
  }
  .navbar__phone-number {
    font-size: 22px;
  }
  .navbar__phone-icon-circle {
    width: 56px;
    height: 56px;
    line-height: 56px;
  }
  .navbar__phone-icon {
    width: 26px;
    top: 14px;
    left: 15px;
  }
  .content {
    margin: 0 50px;
  }
  .search-container {
    margin: 100px 0;
  }
  .search-container__heading {
    font-size: 50px;
  }
  .people-list {
    margin: 120px 0 100px;
  }
  .people-list__card {
    gap: 30px;
    padding: 40px;
    padding-bottom: 52px;
  }
  .people-list__card__doctor-info h3 {
    font-size: 30px;
  }
  .people-list__card__doctor-info__desc {
    font-size: 20px;
    margin: 13px 0 20px;
    max-width: 90%;
  }
  .people-list__card__doctor-info__location {
    font-size: 18px;
  }
  .people-list__card__cta-btn {
    padding: 10px 36px;
    font-size: 18px;
  }
}
@media (max-width: 970px) {
  .footer {
    margin-top: 200px;
    padding: 30px 50px;
  }
  .footer__logo-text {
    font-size: 14px;
  }
  .footer__logo-icon {
    width: 40px;
  }
  .footer__contacts-container {
    gap: 20px;
  }
  .footer__contacts {
    gap: 0;
  }
  .footer__contacts p {
    margin: 0;
    font-size: 18px;
  }
  .footer__phone-number {
    font-size: 20px;
  }
  .footer__gmail {
    font-size: 18px;
  }
  .footer__policy {
    gap: 20px;
  }
  .footer__policy a {
    font-size: 18px;
  }
}