@media(max-width:576px) {
    .content {
        margin:0 16px;
      }
      .navbar {
        padding:10px 16px;
      }
      h1 {
        font-size:30px;
      }
      h2 {
        font-size:40px;
      } 
      .logo p, .phone{
        display:none;
      }
      .logo i {
        font-size:40px;
      }
      .navbar-menu {
        display:block;
        font-size: 30px;
        color:var(--muted-text);
      }
/*HERO*/
      .hero {
        margin-top:50px;
      }
      .hero p{
        font-size:22px;
      }
      .hero-doctors {
        width:80%;
      }
      .hero-text {
        width:100%;
      }
      /*HOW DOES IT WORK*/

      .card {
        width:280px;
      }

      /*WHY US*/
      .card-feature {
        padding: 50px 20px;
        width:220px;
        
      }

      .action {
        margin: 100px 16px 40px;
      }
      .action h2{
        margin-bottom:20px;
      }
      footer {
        align-items: center;
      }
      .policy {
        flex-direction: column;
        justify-content: space-evenly;
        gap:20px;
        margin:0;
        align-self: flex-end;
        margin-bottom:14px;
        color:rgba(0,0,0,0.4);
      }
      .policy p{
        margin:3px 0;
        line-height: 0;
      }
      footer .phone{
        display:block;
      }
}