@media(max-width:576px) {
    .content {
        margin:0 16px;
      }
      .navbar {
        padding:10px 16px;
      }
      h1 {
        font-size:40px;
      }
      h2 {
        font-size:30px;
      } 
      .navbar__logo-text, .navbar__phone{
        display:none;
      }
      .navbar__logo-icon {
        width:40px;
      }
      .navbar__menu-icon {
        display:block;
        width: 30px;
        fill:var(--muted-text);
      }

      .hero {
        margin-top:50px;
      }
      .hero p{
        font-size:22px;
      }
      .hero__doctors-img {
        width:80%;
      }
      .hero__text-container {
        width:100%;
      }
      .cta {
        padding:14px 20px;
        width:100%;
        font-size: 18px;
      }
      /*HOW DOES IT WORK*/
      .info__cards-container {
        gap: 6px;
      }

      .why-us__cards-container {
        grid-template-columns: repeat(1, 1fr); /* Two cards per row on tablets and larger screens */
        gap: 20px;
      }
      .why-us__card {
        padding:70px 30px;
        width:80%;
        aspect-ratio: 1/1;
      }

      .action {
        margin: 100px auto 40px;
        max-width:100%;
      }
      .action h2{
        margin-bottom:20px;
      }
      .action__form-select, .action__submit {
        padding: 10px 15px;
        border-radius: 10px;
        font-size: 14px;
      }
      .footer {
        align-items: center;
        font-size:14px;
        align-items: start;
      }
      .footer .navbar__logo-text {
        display:block;
        font-size:14px;
      }
      .footer__contacts-container {
        display:flex;
        flex-direction: column-reverse;
        text-align:right;
        gap:16px;
      }
      .footer__policy {
        flex-direction: column;
        justify-content: space-evenly;
        gap:0;
        margin:0;
        align-self: flex-end;
        color:var(--muted-text);
      }

      .footer__contacts{
        display:block;
      }
    }
  