
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary-color: #339989;
    --primary-color-light: #E4EEED;
    --text-color: #131515;
    --muted-text: #495057;
    --background: #FFFAFB;
}
*{
  box-sizing:border-box;
}
body {
    color:var(--muted-text);
    background: var(--background);
    font-family: "Open Sans", sans-serif;
    margin: 0;
  }
  h1,h2 {
    color:var(--text-color);
  }
  h1 {
    font-size:64px;
    line-height: 110%;
    margin:0;
    font-weight:500;
    font-family: "Raleway", sans-serif;
  }
  h2 {
    font-size:56px;
    line-height: 110%;
    letter-spacing: -2%;
    margin:0;
    font-weight:500;
    font-family: "Raleway", sans-serif;
  }
  h3 {
    font-weight:bold;
    font-size:21px;
  }
  
  .content {
    margin:0 175px;
  }
  .navbar {
    border-bottom: 0.2px solid var(--muted-text);
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 175px;
    text-transform: uppercase;
  }
  .navbar__logo {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    align-items: center;
    line-height: 0;
    text-transform: none;
  }
  .navbar__logo-icon {
    width:40px;
    fill:var(--primary-color);
  }
  .navbar__phone {
    display: flex;
    gap: 17px;
    margin: auto 0;
    align-items: center;
  }
  .navbar__phone-icon-circle{
    background: var(--primary-color);
    border-radius:50%;
    width:50px;
    height:50px;
    position:relative;
    line-height:50px;
  }
  .navbar__phone-icon {
    width:22px;
    text-align: center;
    fill:var(--background);
    position:absolute;
    top:14px;
    left:13px;
  }
  .navbar__contact {
    display: flex;
    flex-direction: column;
    line-height:0;
  }
  .navbar__consultations {
    color: var(--muted-text);
    font-size:14px;
  }
  .navbar__phone-number {
    color: var(--primary-color);
    font-size:18px;
    margin:10px 0;
    text-transform: lowercase;
    text-decoration: none;
  }
  .navbar__menu-icon {
    display:none;
    color:#fff;
  }
  .navbar__link-specialist {
    text-decoration: none;
    text-transform: none;
    color:var(--muted-text);
    transition: 200ms all ease-in-out;
  }
  .navbar__link-specialist:hover{
    color:var(--text-color);
  }
  /* HERO */
  .hero {
    margin-top:147px;
    display:flex;
    justify-content: space-evenly;
    align-items: baseline;
    gap:20px;
  }
  .hero p{
    font-size:22px;
  }
  .cta {
    color:var(--background);
    font-weight: bold;
    font-size: 18px;
    background: var(--primary-color);
    padding:12px 24px;
    text-decoration: none;
    border-radius:16px;
    border:none;
    transition:200ms all ease-in-out;

  }
  .cta:hover {
    background: #226359;
    cursor:pointer;
  }
  .hero__doctors-img {
    width:50%;
    align-self:center;
  }

  /*HOW DOES IT WORK section*/
  .info {
    margin-top:175px;
  }
  .info h2 {
    margin-bottom: 40px;
  }
  .info__cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
  }
  /* .card-feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  } */

  .info__card-img {
    margin:0 auto;
    padding: 30px 22px;
    width:100%;
    aspect-ratio: 1/1;
    box-shadow: 4px 4px 3px var(--primary-color-light);
    border-radius: 22px;
    background: #fff;
  }
  .info__card h3{
    margin:0;
    margin-top:16px;
  }
  .info__card-desc {
    font-size:21px;
    margin-top:6px;
    color:var(--text-color);
  }
  .why-us {
    margin-top:375px;
  }
  .why-us h2 {
    margin-bottom: 40px;
  }
  .why-us__cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    display:flex;
  }
  .why-us__card__feature-details {
    margin:0;
    font-size:16px;
  }
  .why-us__icon {
    fill: var(--muted-text);
    width:36px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .why-us__icon-container {
    width:84px;
    height:84px;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
    margin: 0 auto;
  }
  .why-us__card {
    background: #d6e7e4;
    border-radius: 22px;
    width: 100%;
    aspect-ratio:1/1;
    padding:52px 35px 42px;
    text-align:center;
    flex-grow: 1;
  }
  .why-us__card h3 {
    margin: 24px 0 12px;
    font-size:22px;
  }
  .why-us__card__shortened-details {
    display:none;
  }
  .action {
    text-align:center;
    margin: 200px auto 100px;
  }
  .action h2 {
    margin-bottom:40px;
  }

  .action__form {
    display:flex;
    flex-direction: column;
  }
  .action__form-select, .action__submit {
    padding: 22px 25px;
    border-radius: 16px;
    font-size: 20px;
    border:none;
    width: 535px;
    height:74px;
    margin: 15px auto;
    background: var(--primary-color-light);
  }
  .action__submit {
    color:var(--background);
    background: var(--primary-color);
    font-weight:bold;
    font-size:24px;
  }

  .footer {
    height:178px;
    padding:53px 175px;
    display:flex;
    justify-content: space-around;
    align-items:center;
    background: var(--primary-color-light);
    text-transform: none;
  }
  .footer .navbar__logo-icon {
    width:50px;
  }
  .footer .navbar__logo-text {
    font-size:16px;
  }
  .footer__contacts-container {
    display:flex;
    gap:50px;
    text-decoration:none;
    line-height:normal;
    align-items:end;
  }
  .footer__policy {
    display:flex;
    flex-direction: row;
    gap:50px;
    margin-top:36px;
  }
  .footer__policy p {
    align-self:flex-end;
    margin: 0;
    margin-bottom:5px;
  }
  .footer__gmail {
    color:var(--text-color);
    line-height:normal;
  }
  .footer .navbar__phone-number {
    font-weight:600;
    text-transform: uppercase;
  }
  .footer__contacts {
    gap:8px;
  }