@media(max-width:768px) {
    .content {
        margin:0 40px;
      }
    h1 {
      font-size:50px;
    }
    h2 {
      font-size:40px;
    } 
    .navbar {
        padding:10px 40px;
      }
    .navbar__logo i {
      font-size:40px;
    }
    .navbar__link-specialist {
      display:none;
    }
    /*HERO*/
    .hero {
        margin-top:50px;
        flex-direction: column-reverse;
        text-align:center;
      }
      .hero p{
        font-size:22px;
      }
      .hero__doctors {
        width:90%;
      }

      .cards {
        grid-template-columns: repeat(2, 1fr); /* Two cards per row on tablets and larger screens */
        gap: 16px;
      }
      .how-it-works {
        text-align: center;
      }
      .why-us {
        text-align:center;
      }
      .cards-feature {
    grid-template-columns: repeat(3, calc((100% - 40px) / 3)); /* Three cards per row with equal width */
    gap:16px;
  }
      .card-feature {
        padding: 5vw 1vw;
        border-radius: 16px;
      }
      .features__details {
        display:none;
      }
      .why-us .icon {
        width:28px;
      }
      .why-us .icon-container {
        width:60px;
        height:60px;
      }
      .card-feature h3 {
        margin-top:30px;
      }

      .action {
        margin: 160px auto 80px;
      }

}