@media(max-width:768px) {
    .content {
        margin:0 40px;
      }
    h1 {
      font-size:50px;
    }
    h2 {
      font-size:40px;
    } 
    .navbar {
        padding:10px 40px;
      }
    .logo i {
      font-size:40px;
    }
    /*HERO*/
    .hero {
        margin-top:50px;
        flex-direction: column-reverse;
        text-align:center;
      }
      .hero p{
        font-size:22px;
      }
      .hero-doctors {
        width:90%;
      }
      .card {
        width:250px;
      }
      .how-it-works {
        text-align: center;
      }
      .why-us {
        text-align:center;
      }
      .cards-feature {
        gap:10px;
      }
      .card-feature {
        padding: 40px;
        border-radius: 16px;
        width:130px;
        
      }
      .card-feature p {
        display:none;
      }
      .why-us .icon {
        width:28px;
      }
      .why-us .icon-container {
        width:60px;
        height:60px;
      }
      .card-feature h3 {
        margin-top:30px;
      }

}