@media(max-width:768px) {
    .content {
        margin:0 40px;
      }
    h1 {
      font-size:50px;
    }
    h2 {
      font-size:40px;
    } 
    .navbar {
        padding:10px 40px;
      }
    .navbar__logo-icon {
      font-size:40px;
    }
    .navbar__link-specialist {
      display:none;
    }
    /*HERO*/
    .hero {
        margin-top:50px;
        flex-direction: column-reverse;
        text-align:center;
      }
      .hero p{
        font-size:22px;
      }
      .hero__doctors-img {
        width:90%;
      }
      .cta {
        padding:20px 48px;
        margin-top:20px;
      }
      .info{
        text-align: center;
      }
      .info__cards-container {
        grid-template-columns: repeat(2, 1fr); /* Two cards per row on tablets and larger screens */
        gap: 16px;
      }
      .why-us {
        text-align:center;
        margin-top:100px;
      }
      .why-us__cards-container {
        grid-template-columns: repeat(3, calc((100% - 40px) / 3)); /* Three cards per row with equal width */
        gap:16px;
      }
      .why-us__card {
        padding: 5vw 1vw;
        border-radius: 16px;
      }
      .why-us__card h3 {
        margin-top:30px;
      }
      .why-us__card__feature-details {
        display:none;
      }
      .why-us__icon {
        width:28px;
      }
      .why-us__icon-container {
        width:60px;
        height:60px;
      }
      .action {
        margin: 160px auto 80px;
        max-width:80%;
      }
      .footer__contacts-container {
        gap:20px;
      }
      .footer__policy {
        gap:20px;
      }

}